{{set . "relation" (index .options 0)}}
{{if ge (len .options) 2}}
{{set . "field" (index .options 1)}}
{{else}}
{{set . "field" "id"}}
{{end}}
{{if eq .mode "r"}}
<a id="{{.name | domid}}_{{.value}}" href="/{{index .options 0 | module}}.detail/{{.value}}"></a>
<script type="text/javascript">
  data = {
    "table": "{{.relation}}",
    "id": {{.value}},
  }
  $.post('/widget.table.object', data, function(json){
    if (json.code == 0) {
      $('#{{.name | domid}}_{{.value}}').text(json.data[{{.field}}])    
    }
  })
</script>
{{end}}
{{if eq .mode "w"}}
<div class="input-group">
  <input type="hidden"  class="form-control" id="{{.name | domid}}" name="{{.name}}" value={{.value}}>
  <input type="text"  class="form-control" id="{{.name | domid}}_{{.field}}" value="{{.value}}">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" data-toggle="modal" data-target="#{{.name | domid}}_modal">
    查找
    </button>
  </span>
  <script type="text/javascript">
  data = {
    "table": "{{.relation}}",
    "id": {{.value}},
  }
  $.post('/widget.table.object', data, function(json){
    if (json.code == 0) {
      $('#{{.name | domid}}').val(json.data["id"])    
      $('#{{.name | domid}}_{{.field}}').val(json.data[{{.field}}])    
    }
  })
  </script>
</div>

<!-- Modal -->
<div id="{{.name | domid}}_modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{index .options 0 | module}}.find</h4>
      </div>
      <div class="modal-body">
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-success btn-done" data-dismiss="modal">选择</button>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">
    $('#{{.name | domid}}_modal').on('shown.bs.modal', function (e) {
        var modal = $(this)
        $.post("/{{index .options 0 | module}}.finder.index", null, function(html){
          modal.find('.modal-body').empty()
          modal.find('.modal-body').append(html)

          modal.find('#finder_search').off('click').on('click', function(){
            searchit(modal,$(this))
          })

          modal.find('#finder_checkbox').off('click').on('click', function(){
            checkit(modal, $(this))
          })

          modal.find('.btn-done').off('click').on('click', function(){
            modal.find(':checkbox').each(function(){
              if ($(this).prop('checked') && $(this).attr('id') != "finder_checkbox") {
                {{if ge (len .options) 2}}
                {{if ne (index .options 1) ""}}
                $('#{{.name | domid}}_{{.field}}').val($(this).data().value[{{.field}}])
                $('#{{.name | domid}}').val($(this).data().value["id"])
                {{end}}
                {{else}}
                $('#{{.name | domid}}').val($(this).data().value["id"])
                {{end}}                
              }
            })
          })

          modal.find('a#page').off('click').on('click', function(){
            pagination(modal,$(this))
          })
        })

       function searchit(modal, self){
          modal.find('#page_no').val('0')
          frm = modal.find("form#finder_query").serialize()
          $.post("/{{index .options 0 | module}}.finder.query", frm, function(html){
            modal.find('#finder_board').empty()
            modal.find('#finder_board').append(html)
            modal.find('a#page').off('click').on('click', function(){
              pagination(modal,$(this))
            })
            modal.find('#finder_checkbox').off('click').on('click', function(){
              checkit(modal, $(this))
            }) 
          })
       }

       function checkit(modal, self){
          modal.find(":checkbox").prop("checked", self.prop('checked'))
       }

       function pagination(modal,self){
        modal.find('#page_size').val(modal.find('#{{index .options 0 | module | domid}}-pagination').data("value"))
        modal.find('#page_no').val(self.data("value"))
        frm = modal.find("form#finder_query").serialize()
        $.post("/{{index .options 0 | module}}.finder.query", frm, function(html){
          modal.find('#finder_board').empty()
          modal.find('#finder_board').append(html)
          modal.find('a#page').off('click').on('click', function(){
            pagination(modal,$(this))
          })
          modal.find('#finder_checkbox').off('click').on('click', function(){
            checkit(modal, $(this))
          })              
        })
      }
    })
</script>
{{end}}

