

{{set . "title" "user.account.detail"}}
{{template "header" .}}

<div class="container-fluid">
  <ol class="breadcrumb">
    <li><a href="/">home</a></li>
    <li><a href="/user.account.index">会员账号</a></li>
    <li class="active">会员账号_详情</li>
  </ol>
  <div class="panel panel-default">
    <div class="panel-body" id="board">

    <fieldset>
        <legend class="">user.account.detail</legend>
    </fieldset>
    {{with .obj}}
    <dl class="dl-horizontal">
      
      <dt>编号</dt>
      <dd>
      {{widget "" "id"  .ID "r" ""}}
      </dd>
      
      <dt>名称</dt>
      <dd>
      {{widget "text" "name"  .Name "r" ""}}
      </dd>
      
      <dt>邮箱</dt>
      <dd>
      {{widget "email" "mailbox"  .Mailbox "r" ""}}
      </dd>
      
      <dt>性别</dt>
      <dd>
      {{widget "selection" "sex"  .Sex "r" "user_accounts_sex"}}
      </dd>
      
      <dt>描述</dt>
      <dd>
      {{widget "textarea" "description"  .Description "r" ""}}
      </dd>
      
      <dt>密码</dt>
      <dd>
      {{widget "password" "password"  .Password "r" ""}}
      </dd>
      
      <dt>头像</dt>
      <dd>
      {{widget "file" "head_url"  .HeadURL "r" ""}}
      </dd>
      
      <dt>状态</dt>
      <dd>
      {{widget "selection" "status"  .Status "r" "user_accounts_status"}}
      </dd>
      
      <dt>创建时间</dt>
      <dd>
      {{widget "datetime" "create_at"  .CreateAt "r" ""}}
      </dd>
      
      <dt>更新时间</dt>
      <dd>
      {{widget "datetime" "update_at"  .UpdateAt "r" ""}}
      </dd>
      
    </dl>
    {{end}}
    </div>
  </div>
</div>

{{template "footer" .}}