<!-- 查询条件开始 -->
<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-inline" id="finder_query">
      <div class="form-group">
        <!-- query -->
            
          
            
          
          {{with $field := field "query.Name" .}}
            <label>名称</label>
            {{widget "text" $field.Name  $field.Value "w" ""}}
          {{end}}
          
            
          
          {{with $field := field "query.Mailbox" .}}
            <label>邮箱</label>
            {{widget "email" $field.Name  $field.Value "w" ""}}
          {{end}}
          
            
          
            
          
            
          
            
          
            
          
          {{with $field := field "query.Status" .}}
            <label>状态</label>
            {{widget "selection" $field.Name  $field.Value "w" "user_accounts_status"}}
          {{end}}
          
            
          
            
          
        
        <!-- sort -->
        {{with $field := field "sort.Value" .}}
        <label>排序</label>
        <select class="form-control" name="{{$field.Name}}" value="{{$field.Flash}}">
          <option value="0">默认排序</option>
          <option value="1">按时间降序</option>
          <option value="2">按时间升序</option>
        </select>
        {{end}}
        <!-- page -->
        <input type="hidden" id="page_no" name="page.No" value="0">
        <input type="hidden" id="page_size" name="page.Size" value="20">
        <!-- button -->
        <button type="button" class="btn btn-primary" id="finder_search">查询</button>
      </div> 
    </form>
  </div>
</div>
<!-- 查询条件结束 -->
<div id="finder_board">
{{template "user.account/finder.query.html" .}}  
</div>