

{{set . "title" "application"}}
{{template "header" .}}

<div class="container-fluid">
<ol class="breadcrumb">
  <li><a href="/">home</a></li>
  <li class="active">密码修改</li>
</ol>
<div class="panel panel-default">
  <div class="panel-body" id="board">

<form class="form-horizontal"  action="/auth.password" method="POST">
  <fieldset>
    <legend class="">auth.password</legend>
  </fieldset>

  <div class="form-group">
    <label class="col-sm-2 control-label">原始密码</label>
    <div class="col-sm-6">
    {{widget "password" "w" "old_password"  "" ""}}
    </div>
    <div class="col-sm-4">
      <span class="error">{{.errors.old_password.Message}}</span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">新密码</label>
    <div class="col-sm-6">
    {{widget "password" "w" "new_password"  "" ""}}
    </div>
    <div class="col-sm-4">
      <span class="error">{{.errors.new_password.Message}}</span>
    </div>
  </div>
    <div class="form-group">
    <label class="col-sm-2 control-label">确认新密码</label>
    <div class="col-sm-6">
    {{widget "password" "w"  "new_password2"  "" ""}}
    </div>
    <div class="col-sm-4">
      <span class="error">{{.errors.new_password2.Message}}</span>
    </div>
  </div>
    

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">确  认</button>
    </div>
  </div>
</form>

  </div>
</div>
</div>

{{template "footer" .}}
