

{{set . "title" "user.post"}}
{{template "header" .}}

<div class="container-fluid">
<ol class="breadcrumb">
  <li><a href="/">home</a></li>
  <li><a href="/user.post.index">会员帖子</a></li>
  <li class="active">会员帖子_修改</li>
</ol>
<div class="panel panel-default">
  <div class="panel-body" id="board">

<form class="form-horizontal"  action="/user.post.update" method="POST">
  <fieldset>
    <legend class="">user.post.update</legend>
  </fieldset>

  
  {{with $field := field "obj.ID" .}}
  
  <input type="hidden" class="form-control" name="{{$field.Name}}" value="{{$field.Value}}" >
  
  
  {{end}}
  
  {{with $field := field "obj.UserAccountID" .}}
  
  <div class="form-group">
    <label class="col-sm-2 control-label">作者</label>
    <div class="col-sm-6">
    {{widget "finder" $field.Name  $field.Value "w" "user_accounts"}}
    </div>
    <div class="col-sm-4">
      <span class="error">{{$field.Error}}</span>
    </div>
  </div>
  
  
  {{end}}
  
  {{with $field := field "obj.Title" .}}
  
  <div class="form-group">
    <label class="col-sm-2 control-label">标题</label>
    <div class="col-sm-6">
    {{widget "text" $field.Name  $field.Value "w" ""}}
    </div>
    <div class="col-sm-4">
      <span class="error">{{$field.Error}}</span>
    </div>
  </div>
  
  
  {{end}}
  
  {{with $field := field "obj.Content" .}}
  
  <div class="form-group">
    <label class="col-sm-2 control-label">内容</label>
    <div class="col-sm-6">
    {{widget "textarea" $field.Name  $field.Value "w" ""}}
    </div>
    <div class="col-sm-4">
      <span class="error">{{$field.Error}}</span>
    </div>
  </div>
  
  
  {{end}}
  
  {{with $field := field "obj.ImageURL" .}}
  
  <div class="form-group">
    <label class="col-sm-2 control-label">图片</label>
    <div class="col-sm-6">
    {{widget "file" $field.Name  $field.Value "w" ""}}
    </div>
    <div class="col-sm-4">
      <span class="error">{{$field.Error}}</span>
    </div>
  </div>
  
  
  {{end}}
  
  {{with $field := field "obj.Status" .}}
  
  <div class="form-group">
    <label class="col-sm-2 control-label">状态</label>
    <div class="col-sm-6">
    {{widget "selection" $field.Name  $field.Value "w" "user_posts_status"}}
    </div>
    <div class="col-sm-4">
      <span class="error">{{$field.Error}}</span>
    </div>
  </div>
  
  
  {{end}}
  
  {{with $field := field "obj.CreateAt" .}}
  
  <input type="hidden" class="form-control" name="{{$field.Name}}" value="{{$field.Value}}" >
  
  
  {{end}}
  
  {{with $field := field "obj.UpdateAt" .}}
  
  <input type="hidden" class="form-control" name="{{$field.Name}}" value="{{$field.Value}}" >
  
  
  {{end}}
  

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">确  认</button>
    </div>
  </div>
</form>

  </div>
</div>
</div>

{{template "footer" .}}
