{{set . "title" "widget.index"}}
{{template "header" .}}
<div class="container-fluid">
    <ol class="breadcrumb">
      <li><a href="/">home</a></li>
      <li class="active">widget.index</li>
    </ol>
    <div class="panel panel-default">
      <div class="panel-heading">text</div>
      <div class="panel-body" id="board">
        <!-- file upload widget start -->
        {{widget "text" "foo-text" "123456" "w"}}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">number</div>
      <div class="panel-body" id="board">
        <!-- file upload widget start -->
        {{widget "number" "foo-number" 8 "w"}}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">currency</div>
      <div class="panel-body" id="board">
        <!-- file upload widget start -->
        {{widget "currency" "foo-currency" 8 "w"}}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">password</div>
      <div class="panel-body" id="board">
        <!-- file upload widget start -->
        {{widget "password" "foo-password" "123456" "w"}}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">email</div>
      <div class="panel-body" id="board">
        <!-- file upload widget start -->
        {{widget "email" "foo-email" "bar@sina.com" "w"}}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">datetime</div>
      <div class="panel-body" id="board">
        <!-- file upload widget start -->
        {{widget "datetime" "foo-datetime" "" "w"}}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">finder</div>
      <div class="panel-body" id="board">
        <!-- file upload widget start -->
        {{widget "finder" "foo-finder" "bar" "w" "order"}}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">file</div>
      <div class="panel-body" id="board">
        <!-- file upload widget start -->
        {{widget "file" "foo-file" "bar" "w"}}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">textarea</div>
      <div class="panel-body" id="board">
        <!-- file upload widget start -->
        {{widget "textarea" "foo-textarea" "bar" "w"}}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">unknown</div>
      <div class="panel-body" id="board">
        <!-- file upload widget start -->
        {{widget "unknown" "foo" "bar" "w"}}
      </div>
    </div>
</div>
{{template "footer" .}}
