

{{set . "title" "option.index"}}
{{template "header" .}}

<script type="text/javascript" charset="utf-8">
  function search(page_no, page_size) {
    $("#page_no").val(page_no);
    if (page_size) { $("#page_size").val(page_size); }
    frm = $("form#query").serialize()
    $.post("/option.query", frm, function(html){
      $('#board').empty()
      $('#board').append(html) 
    })
  }

  function create() {
    window.location.assign("/option.create")
  }
  
  function check(elem) {
    $(":checkbox").prop("checked", $(elem).prop('checked'))
  }
 </script>

<div class="container-fluid">
  <ol class="breadcrumb">
    <li><a href="/">home</a></li>
    <li class="active">系统状态</li>
  </ol>
  <!-- 查询条件开始 -->
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-inline" id="query">
        <div class="form-group">
          <!-- query -->
              
            
              
            
            {{with $field := field "query.Name" .}}
              <label>名称</label>
              {{widget "text" $field.Name  $field.Value "w" ""}}
            {{end}}
            
              
            
            {{with $field := field "query.Code" .}}
              <label>代码</label>
              {{widget "text" $field.Name  $field.Value "w" ""}}
            {{end}}
            
              
            
              
            
              
            
            {{with $field := field "query.OptionValue" .}}
              <label>选项值</label>
              {{widget "number" $field.Name  $field.Value "w" ""}}
            {{end}}
            
              
            
          
          <!-- sort -->
          {{with $field := field "sort.Value" .}}
          <label>排序</label>
          <select class="form-control" name="{{$field.Name}}" value="{{$field.Flash}}">
            <option value="0">默认排序</option>
            <option value="1">按时间降序</option>
            <option value="2">按时间升序</option>
          </select>
          {{end}}
          <!-- page -->
          <input type="hidden" id="page_no" name="page.No" value="0"/>
          <input type="hidden" id="page_size" name="page.Size" value="20"/>
          <!-- button -->
          <button type="button" class="btn btn-primary" onclick="search('0');">查询</button>
          <button type="button" class="btn btn-success" onclick="create();">新增</button>
        </div> 
      </form>
    </div>
  </div>
  <!-- 查询条件结束 -->

  <div id="board">
  {{template "option/query.html" .}}  
  </div>
</div>

{{template "footer" .}}
