[[set . "t_module" (.table.Name | module)]]
<!-- 查询条件开始 -->
<div class="panel panel-default">
  <div class="panel-body">
      <form class="form-inline" id="finder_query">
      <div class="form-group">
        <!-- query -->
          [[range .table.Columns]]
            [[if .IsPrimary]]{{with $field := field "query.[[.Field | camel | lint]]" .}}
              <label>[[.Tag "caption"]]</label>
              {{widget "[[.Tag "widget"]]" "w" $field.Name  $field.Value "[[.Tag "relation"]]"[[if ne (.Tag "field") ""]] "[[.Tag "field"]]"[[end]]}}
              {{end}}
            [[else]]
              [[if eq (.Tag "query") "range"]]  
              <label>[[.Tag "caption"]]</label>
              {{with $field := field "query.[[.Field | camel | lint]]From" .}}
                {{widget "[[.Tag "widget"]]" "w" $field.Name  $field.Value "[[.Tag "relation"]]"[[if ne (.Tag "field") ""]] "[[.Tag "field"]]"[[end]]}}
              {{end}}
               - 
              {{with $field := field "query.[[.Field | camel | lint]]To" .}}
                {{widget "[[.Tag "widget"]]" "w" $field.Name  $field.Value "[[.Tag "relation"]]"[[if ne (.Tag "field") ""]] "[[.Tag "field"]]"[[end]]}}
              {{end}}
              [[else if ne (.Tag "query") ""]]{{with $field := field "query.[[.Field | camel | lint]]" .}}
                <label>[[.Tag "caption"]]</label>
                {{widget "[[.Tag "widget"]]" "w" $field.Name  $field.Value "[[.Tag "relation"]]"[[if ne (.Tag "field") ""]] "[[.Tag "field"]]"[[end]]}}
              {{end}}
              [[end]]
            [[end]]
          [[end]]
          <!-- sort -->
          {{with $field := field "sort.Value" .}}
          <label>排序</label>
          <select class="form-control" name="{{$field.Name}}" value="{{$field.Flash}}">
            <option value="0">默认排序</option>
            [[range $k, $v := .table.Columns]]
            [[if $v.IsPrimary]]<option value="[[add (multiply 2 $k) 1]]">按[[$v.Tag "caption"]]降序</option> 
            <option value="[[add (multiply 2 $k) 2]]">按[[$v.Tag "caption"]]升序</option>
            [[else if eq ($v.Tag "sort") "y"]]<option value="[[add (multiply 2 $k) 1]]">按[[$v.Tag "caption"]]降序</option> 
            <option value="[[add (multiply 2 $k) 2]]">按[[$v.Tag "caption"]]升序</option>[[end]]
            [[end]]
          </select>
          {{end}}
          <!-- page -->
          {{with $field := field "page.No" .}}
          {{if ne $field.Value ""}}
          <input type="hidden" id="page_no" name="{{$field.Name}}" value="{{$field.Value}}"/>
          {{else}}
          <input type="hidden" id="page_no" name="{{$field.Name}}" value="0"/>
          {{end}}
          {{end}}
          {{with $field := field "page.Size" .}}
          {{if ne $field.Value ""}}
          <input type="hidden" id="page_size" name="{{$field.Name}}" value="{{$field.Value}}"/>
          {{else}}
          <input type="hidden" id="page_size" name="{{$field.Name}}" value="0"/>
          {{end}}
          {{end}}
        <!-- button -->
        <button type="button" class="btn btn-primary" id="finder_search">查询</button>
      </div> 
      </form>
  </div>
</div>
<!-- 查询条件结束 -->
<div id="finder_board">
{{template "view.[[.t_module]]/finder.query.html" .}}  
</div>
