[[set . "t_module" (.table.Name | module)]]
<!-- 提示信息开始 -->
  {{if .flash.success}}
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    <strong>Success! </strong>{{.flash.success}}
  </div>
  {{end}}

  {{if .flash.error}}
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    <strong>Warning! </strong>{{.flash.error}}
  </div>
  {{end}}
  <!-- 提示信息结束 -->

<!-- 表格列表 开始 -->
<div class="panel panel-default">
  <div class="panel-body">

  {{if not .items}}
  <p>暂无有效记录。</p>
  {{else}}
  <table class="table table-hover">
      <thead>
        <th><input type="checkbox" onclick="check(this)"></th>
        <th>[[.table.PrimaryColumn.Tag "caption"]]</th>
        [[range .table.Columns]][[if eq (.Tag "column") "y"]]<th>[[.Tag "caption"]]</th>
        [[end]][[end]]
        <th>操作</th>
      </thead>
      <tbody>
          {{range .items}}
          <tr>
            [[with .table.PrimaryColumn]]
            <td>{{widget "checkbox"  "w" "[[.Field]][]" .[[.Field | camel | lint]] [[if ne (.Tag "relation") ""]] "[[.Tag "relation"]]"[[end]] [[if ne (.Tag "field") ""]] "[[.Tag "field"]]"[[end]]}}
            </td>
            <td>
            {{widget "finder"  "r" "[[.Field]]" .[[.Field | camel | lint]] "[[$.table.Name]]"}}
            </td>
            [[end]]
            [[range .table.Columns]][[if eq (.Tag "column") "y"]]
            <td>{{widget "[[.Tag "widget"]]" "r" "[[.Field]]"  .[[.Field | camel | lint]] [[if ne (.Tag "relation") ""]] "[[.Tag "relation"]]"[[end]] [[if ne (.Tag "field") ""]] "[[.Tag "field"]]"[[end]]}}</td>
            [[end]][[end]]
            <td>
              <!-- <a href="/[[.t_module]].detail/{{.ID}}">详情</a>
              <a href="/[[.t_module]].update/{{.ID}}">修改</a>
              <a href="/[[.t_module]].remove/{{.ID}}">删除</a> -->
              <div class="btn-group btn-group-xs" role="group">
                <button type="button" class="btn btn-default" onclick="modify({{.ID}});">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>  
                </button>
                <button type="button" class="btn btn-default" onclick="rm({{.ID}});">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  
                </button>
              </div>
            </td>
          </tr>
          {{end}}
      </tbody>
      <tfoot>
          <tr>
              <td colspan="36">一共有<strong>{{.total}}</strong>记录。</td>
          </tr>
      </tfoot>
  </table>
  {{.pagination}}
  {{end}}
  </div>
</div>
